---
import BaseLayout from "@/components/layouts/base-layout.astro";

const PALETTES = [
  { label: "Light Green", harmony: "analogous", l: 0.77, c: 0.18, h: 130 },
  { label: "AstroVista", harmony: "monochromatic", l: 0.63, c: 0.16, h: 35 },
  { label: "qrafthive", harmony: "monochromatic", l: 0.68, c: 0.17, h: 40 },
  {
    label: "Zen Inspired Theme",
    harmony: "analogous",
    l: 0.88,
    c: 0.03,
    h: 100,
  },
  { label: "Tiesen", harmony: "monochromatic", l: 0.56, c: 0.12, h: 260 },
  { label: "Sage Green", harmony: "triadic", l: 0.8, c: 0.05, h: 140 },
  { label: "2077", harmony: "analogous", l: 0.64, c: 0.15, h: 25 },
  {
    label: "Minimal Neutral",
    harmony: "complementary",
    l: 0.93,
    c: 0.002,
    h: 0,
  },
  { label: "MX-Brutalist", harmony: "triadic", l: 0.7, c: 0.28, h: 160 },
  { label: "Deep Purple", harmony: "analogous", l: 0.72, c: 0.22, h: 300 },
  { label: "NLAN", harmony: "complementary", l: 0.78, c: 0.22, h: 240 },
  { label: "Terminal", harmony: "analogous", l: 0.72, c: 0.28, h: 145 },
  {
    label: "Professional Theme",
    harmony: "analogous",
    l: 0.72,
    c: 0.2,
    h: 250,
  },
  { label: "examdedo", harmony: "analogous", l: 0.72, c: 0.1, h: 60 },
  {
    label: "Lime green dhamaka",
    harmony: "analogous",
    l: 0.82,
    c: 0.18,
    h: 110,
  },
  { label: "Material Design", harmony: "triadic", l: 0.68, c: 0.2, h: 250 },
  { label: "Air", harmony: "monochromatic", l: 0.7, c: 0.1, h: 220 },
  { label: "Dribble", harmony: "monochromatic", l: 0.65, c: 0.25, h: 350 },
  { label: "Shopify", harmony: "analogous", l: 0.6, c: 0.18, h: 145 },
  { label: "Pinterest", harmony: "monochromatic", l: 0.62, c: 0.24, h: 20 },
];
---

<BaseLayout
  title="Explore"
  description="Famous brand color systems, ready to use.">
  <main ui-page="explore">
    <div class="head">
      <a
        href="/"
        ui-slot="button"
        data-variant="neutral"
        data-mode="lighter"
        data-size="md">
        <i class="hgi hgi-stroke hgi-arrow-left-02"></i>
        <span>Back to home</span>
      </a>
      <h3 class="title">Explore</h3>
      <span></span>
    </div>
    <div class="core">
      <div class="note">
        <h3 class="title">Note</h3>
        <p class="description">
          These palettes belong to the <a
            ui-slot="link-button"
            data-variant="primary"
            data-size="md"
            data-underline="true"
            href="https://tweakcn.com/community"
            target="_blank">tweakcn community</a
          >. We just brought them here.
        </p>
      </div>
      <div class="palettes">
        {
          PALETTES.map((palette) => (
            <div
              class="palette"
              data-color
              data-theme="light"
              data-harmony={palette.harmony}
              style={`--base-lightness: ${palette.l}; --base-chroma: ${palette.c}; --base-hue: ${palette.h};`}>
              <div class="details">
                <div ui-slot="button-group" data-size="xxs" role="group">
                  <a
                    href={`/colors?h=${palette.h}&c=${palette.c}&l=${palette.l}&harmony=${palette.harmony}&name=${palette.label}`}
                    ui-slot="button-group-item">
                    Preview
                  </a>
                  <a
                    href={`/export?h=${palette.h}&c=${palette.c}&l=${palette.l}&harmony=${palette.harmony}&name=${palette.label}`}
                    ui-slot="button-group-item">
                    Export
                  </a>
                </div>
                <div class="colors">
                  {[...Array(6)].map((_) => (
                    <button data-token>
                      <i class="hgi hgi-stroke hgi-tick-02" />
                    </button>
                  ))}
                </div>
              </div>
              <div class="info">
                <span class="label">{palette.label}</span>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import Color from "@/utils/color";
  import { extractLch } from "@/utils/helpers";

  const tokens = document.querySelectorAll<HTMLButtonElement>("[data-token]");

  tokens.forEach((token) =>
    token.addEventListener("click", async () => {
      const color = getComputedStyle(token).backgroundColor;
      const { l, c, h } = extractLch(color);

      await navigator.clipboard.writeText(new Color(l, c, h).toOklch());

      token.setAttribute("data-copied", "");

      setTimeout(() => {
        token.disabled = false;
        token.removeAttribute("data-copied");
      }, 2000);
    }),
  );
</script>

<style>
  [ui-page="explore"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);

    .head {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);

      .title {
        font: var(--font-headline-lg);
        text-align: center;
      }
    }

    .core {
      display: grid;
      gap: var(--spacing-32);

      .note {
        display: grid;
        gap: var(--spacing-8);

        .title {
          font: var(--font-title-lg);
        }

        .description {
          display: ruby;
          color: var(--color-on-surface-variant);
        }
      }

      .palettes {
        display: grid;
        gap: var(--spacing-16);
        grid-template-columns: repeat(4, 1fr);

        .palette {
          overflow: hidden;
          box-shadow: var(--shadow-lg);
          border-radius: var(--radius-lg);
          background-color: var(--color-surface-container-lowest);
          padding: var(--spacing-16);
          display: grid;
          gap: var(--spacing-48);

          .details {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .colors {
              display: flex;
              gap: var(--spacing-6);

              button {
                width: var(--spacing-12);
                height: var(--spacing-48);
                border-radius: var(--radius-rounded);
                transition: var(--transition-standard-default-spatial);

                & > i {
                  display: none;
                  font-size: 12px;
                }

                &[data-copied] > i {
                  display: block;
                }

                &:first-child {
                  color: var(--color-on-primary);
                  background-color: var(--color-primary);
                }

                &:nth-child(2) {
                  color: var(--color-on-primary-container);
                  background-color: var(--color-primary-container);
                }

                &:nth-child(3) {
                  color: var(--color-on-secondary);
                  background-color: var(--color-secondary);
                }

                &:nth-child(4) {
                  color: var(--color-on-secondary-container);
                  background-color: var(--color-secondary-container);
                }

                &:nth-child(5) {
                  color: var(--color-on-tertiary);
                  background-color: var(--color-tertiary);
                }

                &:last-child {
                  color: var(--color-on-tertiary-container);
                  background-color: var(--color-tertiary-container);
                }
              }
            }
          }

          .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .label {
              flex: 1;
              font: var(--font-title-md);
            }
          }
        }
      }
    }

    @media (max-width: 1280px) {
      .core {
        .palettes {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    @media (max-width: 769px) {
      .head {
        .title {
          display: contents;
        }

        [ui-slot="button"] {
          width: var(--button-size);

          & > span {
            display: none;
          }
        }
      }

      .core {
        .palettes {
          grid-template-columns: 1fr;
        }
      }
    }
  }
</style>
